{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "space-infix-ops": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "no-use-before-define": [1, { "functions": true, "classes": true }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": <ignorePureComponents> }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
